name: Build XCFramework

on:
  workflow_dispatch:
    inputs:
      include_debug_symbols:
        description: 'Include debug symbols in XCFramework'
        required: false
        type: boolean
        default: false

jobs:
  build-xcframework:
    runs-on: macos-15

    steps:
    - name: Checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #3.6.0
      
    - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd #1.6.0
      with:
        xcode-version: '16.4'

    - name: Install swift-create-xcframework tool
      run: |
        git clone https://github.com/segment-integrations/swift-create-xcframework.git
        cd swift-create-xcframework
        make install

    - name: Create XCFramework
      run: |
        if [ "${{ inputs.include_debug_symbols }}" == "true" ]; then
          swift create-xcframework --platform ios --xc-setting OTHER_SWIFT_FLAGS='-DCREATE_XCFRAMEWORK -Xfrontend -empty-abi-descriptor'
        else
          swift create-xcframework --platform ios --no-debug-symbols --xc-setting OTHER_SWIFT_FLAGS='-DCREATE_XCFRAMEWORK -Xfrontend -empty-abi-descriptor'
        fi

    - name: Copy resources
      run: |
        cp Sources/AirwallexRisk/Resources/* AirwallexRisk.xcframework/ios-arm64/AirwallexRisk.framework
        cp Sources/AirwallexRisk/Resources/* AirwallexRisk.xcframework/ios-arm64_x86_64-simulator/AirwallexRisk.framework

    - name: Upload XCFramework
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #4.6.2
      with:
        name: AirwallexRisk.xcframework
        path: AirwallexRisk.xcframework
        retention-days: 30
